In [4]:
import pandas as pd

# Create a simple DataFrame
data = {
  'Name': ['Apple', 'Banana', 'Cherry', 'Date'],
  'Color': ['Red', 'Yellow', 'Red', 'Brown'],
  'Price': [1.2, 0.5, 1.5, 1.0]
}

df = pd.DataFrame(data)
df

     Name   Color  Price
0   Apple     Red    1.2
1  Banana  Yellow    0.5
2  Cherry     Red    1.5
3    Date   Brown    1.0

In [5]:
# Selecting 'Name' and 'Price' columns
name_and_price = df[['Name', 'Price']]
print(name_and_price)

     Name  Price
0   Apple    1.2
1  Banana    0.5
2  Cherry    1.5
3    Date    1.0